<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Merch Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/2/{id}(id=${merch.getId()})}" th:object="${merch}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="value">Enter age: </label>
    <input type="text" th:field="*{value}" id="value"/>
    <div style="color:red" th:if="${#fields.hasErrors('value')}" th:errors="*{value}">Age Error</div>
    <br/>
    <label for="type">Enter email: </label>
    <input type="text" th:field="*{types}" id="type"/>
    <div style="color:red" th:if="${#fields.hasErrors('types')}" th:errors="*{types}">Email Error</div>
    <br/>
    <label for="value">Enter age: </label>
    <input type="text" th:field="*{institute}" id="institute"/>
    <div style="color:red" th:if="${#fields.hasErrors('institute')}" th:errors="*{institute}">Age Error</div>
    <br/>
    <input type="submit" value="Update!"/>

</form>

</body>
</html>